<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="petroneedsConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=Mohamed-PC)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=petro;Password=petro;" providerName="System.Data.OracleClient"/>
    <!--Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=Mohamed-PC)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=petro;Password=petro;-->
    <!--user id=petro;password=petro;Sarver=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=Mohamed-PC)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=orcl)))-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
       <!-- <add assembly="Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>-->
      <!--  <add assembly="Oracle.Web, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>-->
        <!--<add assembly="Policy.4.112.Oracle.Web, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>-->
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>